.urtModal {
	z-index: 26;
	align-self: center;

	&__container {
		display: flex;
		justify-content: center;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.29);
		z-index: 25;
		opacity: .3;
	}
}
